<div id="work_place">
  <!--  This menu for add our flowboard to sub view-->
  <span #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu" id="menuTrigger"></span>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item *ngFor="let view of menuOfViews" (click)="addFlowToSubView(view)">{{view}}</button>
  </mat-menu>

  <!--  Tabs bar where we can switch between our project and sub view-->
  <mat-tab-group (selectedTabChange)="onMainTabBarClick($event)">
    <mat-tab *ngFor="let tab of subTabs" [label]=tab.label></mat-tab>
  </mat-tab-group>

  <!--  Tabs bar where we can switch between our chosen flowboards -->
  <mat-tab-group
    id="flowTabs"
    backgroundColor="primary"
    color="warn"
    *ngIf="activeTab === subTabs[1]"
    (selectedIndexChange)="onFlowTabBarClick($event)"
  >
    <mat-tab *ngFor="let flow of subTabs[1].layerData" [label]="flow"></mat-tab>
  </mat-tab-group>

  <!--  Konva window-->
  <div class="container" #container>
    <ko-stage #stage [config]="KonvaUtil.createStage({width: konvaSize.width, height: konvaSize.height})"
              (dragover)="handleDragOver($event)"
              (click)="handleClickEvent($event)"
              (mouseup)="handleMouseUp($event)"
              (mousedown)="handleMouseDown($event)"
              (mousemove)="handleMouseMove($event)">
      <!--    Layer where created our block schemas-->
      <ko-layer #mainLayer>
      </ko-layer>
    </ko-stage>
  </div>

  <!--  Zoom buttons with indicator-->
  <div class="zoom-buttons-group">
    <button mat-button [matMenuTriggerFor]="aboveMenu">{{zoomInPercent}}%</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="zoomingEvent(0.25)">25%</button>
      <button mat-menu-item (click)="zoomingEvent(0.5)">50%</button>
      <button mat-menu-item (click)="zoomingEvent(0.75)">75%</button>
      <button mat-menu-item (click)="zoomingEvent(1)">100%</button>
      <button mat-menu-item (click)="zoomingEvent(1.25)">125%</button>
      <button mat-menu-item (click)="zoomingEvent(1.5)">150%</button>
      <button mat-menu-item (click)="zoomingEvent(1.75)">175%</button>
      <button mat-menu-item (click)="zoomingEvent(2)">200%</button>
    </mat-menu>
  </div>

  <!--  Button add new flowboard-->
  <button
    id="add_flow"
    mat-fab
    color="primary"
    (click)="addFlowToLayer()"
    *ngIf="activeTab === subTabs[0]"
  ><span style="font-size:xx-large">+</span>
  </button>
</div>
