<div class="tab-wrapper">

  <ng-container *ngFor="let palette of palettes">
    <div *ngIf="palette.active" class="block">
      <span [ngStyle]="{color:palette.color}">{{palette.name}}</span>
      <div id="{{palette.id}}" [ngStyle]="{borderColor:  palette.color}" class="function" (dragend)="dragFinish($event)"
        (dragstart)="dragEvent($event)" draggable="true">
        <div *ngIf="palette.input" class="input-port"
          [ngStyle]="{borderColor:  palette.color, backgroundColor:  palette.color}"></div>
        <i [ngClass]="palette.luwfyImageId" class="fa-3x" [ngStyle]="{color:  palette.color}"></i>
        <div *ngIf="palette.outputs" class="output-port" [ngStyle]="{borderColor:  palette.color}"></div>
      </div>
    </div>
  </ng-container>

</div>

<!--      <div class="click_button" *ngIf="block.btn_event_block.switch === 1"
          [ngStyle]="{borderColor: block.color, backgroundColor: block.btn_event_block.color_active}">
          <div class="switch-circle"></div>
          <span [ngStyle]="{color: block.btn_event_block.color_disabled}">{{block.btn_event_block.label}}</span>
        </div>

        <div class="switcher" *ngIf="block.btn_event_block.switch === 0"
          [ngStyle]="{borderColor: block.color, backgroundColor: block.btn_event_block.color_active}">
          <div class="switch-circle"></div>
          <span [ngStyle]="{color: block.btn_event_block.color_disabled}"> {{block.btn_event_block.label}}</span>
        </div> -->
