<div class="tab-wrapper">

  <ng-container *ngFor="let palette of palettes">
    <div class="block">

      <span [ngStyle]="{color: getColor(palette.colorId)}">{{palette.name}}</span>
      <div id="{{palette.id}}" [ngStyle]="{borderColor: getColor(palette.colorId)}" class="function"
        (dragend)="dragFinish($event)" (dragstart)="dragEvent($event)" draggable="true">
        <div class="input-port"
          [ngStyle]="{borderColor: getColor(palette.colorId), backgroundColor: getColor(palette.colorId)}"></div>
        <i class="fa fa-3x" [ngStyle]="{color: getColor(palette.colorId)}">{{getImage(palette.imageId)}}</i>
        <div class="output-port" [ngStyle]="{borderColor: getColor(palette.colorId)}"></div>
      </div>

    </div>
  </ng-container>

</div>

<!--      <div class="click_button" *ngIf="block.btn_event_block.switch === 1"
          [ngStyle]="{borderColor: block.color, backgroundColor: block.btn_event_block.color_active}">
          <div class="switch-circle"></div>
          <span [ngStyle]="{color: block.btn_event_block.color_disabled}">{{block.btn_event_block.label}}</span>
        </div>

        <div class="switcher" *ngIf="block.btn_event_block.switch === 0"
          [ngStyle]="{borderColor: block.color, backgroundColor: block.btn_event_block.color_active}">
          <div class="switch-circle"></div>
          <span [ngStyle]="{color: block.btn_event_block.color_disabled}"> {{block.btn_event_block.label}}</span>
        </div> -->