//$switch_color: #802a6e; // open after change background on light color
$gray_switcher: #8dc0c2;
$background_gray: #115770;
$background_white: white;
$text_color_white: white;
$switcher_width: 45px;
$test_color: #8e05ff;

@mixin switcher_block(){
  display: inline-block;
  position: relative;
  top: 18px;
  width: $switcher_width;
  height: 18px;
  border: 2px solid;
  border-radius: 10px;
}

@mixin switch_circle {
  position: relative;
  float: left;
  top: 1px;
  width: 14px;
  height: 14px;
  background-color: $background_white;
  border: 1px solid $gray_switcher;
  border-radius: 10px;
}

@mixin switch_name($colorName) {
  position: relative;
  top: -2px;
  font: 400 11px Roboto, sans-serif;
  color: $colorName;
}

.tab-wrapper {
  box-sizing: border-box;
  background-color: $background_gray;
  width: 120px;
  height: 100%;
  padding: .5rem;
  border-right: 2px solid silver;
  overflow: auto;
}


// Styles for Switch blocks

.block {
  text-align: center;
  margin-bottom: 10px;

  span {
    padding: 0;
    margin: 0;
    font: 14px Roboto, sans-serif;
  }
}

.function {
  width: 80px;
  height: 80px;
  border: 2px solid;
  border-radius: 10px;
  margin: 0 auto 10px;
  cursor: pointer;

  .input-port {
    position: relative;
    left: -12px;
    top: 28px;
    width: 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 10px;
    float: left;
  }

  svg {
    position: relative;
    float: right;
    top: 13px;
    right: 15px;
  }

  .output-port {
    position: relative;
    left: 70px;
    top: 28px;
    width: 18px;
    height: 18px;
    background-color: $background_gray;
    border: 2px solid;
    border-radius: 10px;
  }

  .switcher {
    @include switcher_block;

    .switch-circle {
      @include switch_circle;
    }

    span {
      @include switch_name(steelblue);
    }
  }

  .click_button {
    @include switcher_block;

    .switch-circle {
      @include switch_circle;
    }

    span {
      @include switch_name(white);
    }
  }
}
