<luwfy-tabs></luwfy-tabs>
<div class="convas-wrapper">
  <luwfy-vertical-tab></luwfy-vertical-tab>
  <div class="plain">
  </div>
  <luwfy-canvas></luwfy-canvas>
</div>

<!--
<div id="red-ui-workspace-chart" tabindex="1" class="ui-droppable" style="">
    <svg width="5000" height="5000" pointer-events="all" style="cursor: crosshair;" (mousemove)="mousemove($event)">
        <g>
            <g class="red-ui-workspace-chart-event-layer" transform="scale(1)">
                <rect class="red-ui-workspace-chart-background" width="5000" height="5000"></rect>
                <g class="red-ui-workspace-chart-grid" style="visibility: visible;">
                    <line *ngFor="let item of [].constructor(250); let i = index" class="red-ui-workspace-chart-grid-h" x1="0" x2="5000" [attr.y1]="20*i" [attr.y2]="20*i"></line>

                    <line *ngFor="let item of [].constructor(250); let i = index" class="red-ui-workspace-chart-grid-v" y1="0" y2="5000" [attr.x1]="20*i" [attr.x2]="20*i"></line>
                </g>
                <g>
                    <g class="red-ui-flow-link">
                        <path class="red-ui-flow-link-background red-ui-flow-link-path" d="M 240 200 C 315 200 395 160 470 160"></path>
                        <path class="red-ui-flow-link-outline red-ui-flow-link-path" d="M 240 200 C 315 200 395 160 470 160"></path>
                        <path class="red-ui-flow-link-line red-ui-flow-link-path" d="M 240 200 C 315 200 395 160 470 160"></path>
                    </g>
                    <g class="red-ui-flow-link">
                        <path class="red-ui-flow-link-background red-ui-flow-link-path" d="M 260 400 C 335 400 385 360 460 360"></path>
                        <path class="red-ui-flow-link-outline red-ui-flow-link-path" d="M 260 400 C 335 400 385 360 460 360"></path>
                        <path class="red-ui-flow-link-line red-ui-flow-link-path" d="M 260 400 C 335 400 385 360 460 360"></path>
                    </g>
                </g>
                <g></g>
                <g>
                    <g
                     #refEl
                     *ngFor="let item of data; let i = index"
                     (mouseover)='over($event, item)'
                     (mouseout)='out($event, item)'
                     (mousedown)='mousedown($event, item, refEl)'
                     (mouseup)='mouseup($event, item)'
                     class="red-ui-flow-node red-ui-flow-node-group"
                     id="ed6cc959.26cb48"
                     [attr.transform]="'translate(' + (item.x-160/2) + ',' + (item.y-30/2) + ')'">
                        <g transform="translate(154,2)" class="red-ui-flow-node-button" opacity="1" style="display: inherit;">
                            <rect class="red-ui-flow-node-button-background" rx="5" ry="5" width="32" height="26" fill-opacity="1"></rect>
                            <rect class="red-ui-flow-node-button-button" x="11" y="4" rx="4" ry="4" width="16" height="18" fill="#87a980" cursor="pointer" fill-opacity="1"></rect>
                        </g>
                        <rect class="red-ui-flow-node" rx="5" ry="5" fill="#87a980" width="160" height="30"></rect>
                        <g class="red-ui-flow-node-icon-group red-ui-flow-node-icon-group-right" x="0" y="0" transform="translate(130,0)" style="pointer-events: none;">
                            <rect x="0" y="0" class="red-ui-flow-node-icon-shade" width="30" height="30"></rect>
                            <image xlink:href="icons/node-red/debug.svg" class="red-ui-flow-node-icon" x="0" width="30" height="30" style="" y="0"></image>
                            <path d="M 0 1 l 0 28" class="red-ui-flow-node-icon-shade-border"></path>
                        </g>
                        <text class="red-ui-flow-node-label red-ui-flow-node-label-right" x="122" dy=".35em" text-anchor="end" y="14">msg.payload {{item.over}} ⇲</text>
                        <g class="red-ui-flow-node-status-group" transform="translate(3,33)" style="display: inline;">
                            <rect class="red-ui-flow-node-status red-ui-flow-node-status-ring-grey" x="6" y="1" width="9" height="9" rx="2" ry="2" stroke-width="3" style="display: inline;"></rect>
                            <text class="red-ui-flow-node-status-label" x="20" y="10">ddddddd</text>
                        </g>
                        <g class="red-ui-flow-node-changed hide" transform="translate(150, -2)">
                            <circle r="5"></circle>
                        </g>
                        <g class="red-ui-flow-node-error hide" transform="translate(150, -2)">
                            <path d="M -5,4 l 10,0 -5,-8 z"></path>
                        </g>
                        <g class="red-ui-flow-port-input" transform="translate(-5,10)">
                            <rect class="red-ui-flow-port" rx="3" ry="3" width="10" height="10"></rect>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>
-->
