.sidebar_container {
  width: 280px;
  height: 100%;
  border-left: 2px solid silver;

  .sidebar_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    background-color: #1b6580;
    box-sizing: border-box;
    border: 2px silver solid;
    font-size: 25px;
  }

  .sidebar_head_buttons{
    display: flex;
    flex-direction: row;
    button{
      flex-grow: 1;
      cursor: pointer;
      background-color: #1b6580;
      padding: 5px 0;
      color: white;
      &:hover{
        opacity: .8;
      }
    }
  }

  ::ng-deep .mat-tab-label {
    height: 30px !important;
  }

  .info_block{
    width: 100%;
    background-color: #c6dbe1;
    box-sizing: border-box;
    border: 1px silver solid;
    padding: 5px 2px;
    margin: 5px;

    a{
      cursor: pointer;
      color: gray;
      &:hover{
        color: darkgreen;
      }
    }
  }

  p{
    margin-bottom: 10px;
  }
}


